.idea-title {
  margin: 10px 10px;
  border-style: solid;
  border-width: 2px;
  padding: 3px 10px;
}
.idea-desc {
  border-style: solid;
  border-width: 2px;
  margin: 10px 10px;
  padding: 15px 10px;
}