<div class="idea-body">
  <div class="idea-title">
    <div class="vote-box">
      <span class="glyphicon glyphicon-heart" [ngClass]="{'liked-heart': likeCount > 0}" (click)="onClickingLike()"></span>
      <span id="like">{{likeCount}}</span>
    </div>
    <div class="title-box">
      <span>{{ideaTitle}}</span>
    </div>
  </div>
  <div class="idea-desc">
    <p>
      {{ideaDescription}}
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="idea-action-btns" id="viewIdeaDetailsId">
        <button type="button" class="btn btn-link" (click)="viewDetailsModal.open()">View Details</button>
      </div>
      <div class="idea-action-btns" id="appreciateIdeaId">
        <button type="button" class="btn btn-link">Appreciate</button>
      </div>
      <div class="idea-action-btns" id="reportIdeaId">
        <button type="button" class="btn btn-link" (click)="reportIdeaModal.open()">Report</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6" id="momentsDiv">
      <span>Last updated: {{dummyDate | amTimeAgo}}</span>
    </div>
  </div>
  <hr>
</div>
<!-- Modal to open idea details when clicking the view details button -->
<bs-modal #viewDetailsModal [size]="lg">
  <bs-modal-body>
    <div class="idea-body">
      <div class="idea-title">
        <div>
          <div class="vote-box">
            <span class="glyphicon glyphicon-heart" aria-hidden="true" [ngClass]="{'liked-heart': likeCount > 0}" (click)="onClickingLike()"></span>
            {{likeCount}}
          </div>
          <div class="title-box">
            <span>{{ideaTitle}}</span>
          </div>
        </div>
      </div>
      <div class="idea-desc">
        <p>
          {{ideaDescription}}
        </p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6" id="momentsDiv">
          <span>Last updated: {{dummyDate | amTimeAgo}}</span>
        </div>
      </div>
    </div>
  </bs-modal-body>
  <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
</bs-modal>
<!-- Modal to open report idea modal when clicking report idea button -->
<bs-modal #reportIdeaModal [size]="sm">
    <bs-modal-header>
          <h2 class="modal-title">Report Idea</h2>
    </bs-modal-header>
    <bs-modal-body>
      <div class="report-abuse-div">
        <p>What do you think is wrong with this idea?</p>
        <div *ngFor="let report of reports">
            <span><input type="radio" name="report-abuse-option" value={{report.title}}>
              {{report.title}}:
              <span id="report_description">
              {{report.description}}
              </span>
            </span>
        </div>
      </div>
    </bs-modal-body>
    <bs-modal-footer [showDefaultButtons]="true"></bs-modal-footer>
  </bs-modal>
