<div class="ideative-navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="ideative" id="navbar-ideative-logo" src="../../assets/ms-icon-70x70.png">
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="#">
            Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            Account
          </a>
        </li>
        <li>
          <a href="#">
            Settings
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            Log Out
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>